/* .App { */
/* background-color: palevioletred; */
/* } */

.SideBar {
  position: absolute;
  border-radius: 25px;
  top: 15px;
  left: 15px;
  width: 20vw;
  height: auto;
  /* text-align: center; */
  background: #2f667f;
  color: #ffffff;
}

.Main {
  position: absolute;
  right: 20px;
  width: 75vw;
  height: auto;
  background-color: pink;
}

.btn {
  text-align: right;
  margin: 15px;
}

.cat-img {
  display: flex;
  margin-left: 22px;
  margin-bottom: 20px;
}

.bold {
  font-size: 40px;
  font-weight: bold;
  margin-left: 15px;
}

.side-menu {
  padding: 24px;
  display: flex;
}

.side-img {
  margin-right: 20px;
  margin-left: 12px;
}

.line {
  margin: 28px 20px 0px 20px;
  border: none;
  border-top: 1px solid white;
}

.header {
  display: flex;
  justify-content: space-between;
}

.box1 {
  margin: 30px 10px 10px 200px;
}

/* .box2 { */
/* margin: 30px 10px 10px 10px; */
/* } */

.box {
  width: 40px;
  height: 40px;
  margin: 30px 15px 20px 0px;
}

.pro-box {
  margin-right: 15px;
  margin-bottom: 5px;
  position: relative;
  width: 70px;
  height: 70px;
  top: 5px;
}

.dash-item {
  display: flex;
  justify-content: space-evenly;
}

.dash-keys {
  margin: 10px 40px 10px 40px;
  border: 1px solid;
  border-radius: 25px;
  padding: 5px 20px 5px 20px;
}

.card-comp {
  display: flex;
  justify-content: space-evenly;
  margin: 10px 20px 10px 20px;
}

.single-card {
  margin: 10px 20px 10px 20px;
  padding: 10px 20px 5px 10px;
  border-radius: 12px;
  background-color: aliceblue;
  width: 260px;
  height: 140px;
}

.item-card {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.head-card {
  margin-bottom: 12px;
  font-weight: bold;
}

.dot-card {
  text-align: right;
}

.value-data {
  font-weight: bold;
}

.main-card {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
}

.small-card {
  width: 220px;
  height: auto;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  border-radius: 12px;
  background-size: cover;
}

.bold-title {
  color: rgba(255, 255, 255, 1);
  width: 180px;
  height: 20px;
  top: 11.85px;
  left: 19.75px;
  gap: 0px;
  opacity: 0px;
  /* font-family: Poppins; */
  font-size: 12.64px;
  font-weight: 600;
  line-height: 19.75px;
  letter-spacing: 0.395099937915802px;
  text-align: left;

  /* font-weight: bold; */
  /* font-size: large; */
}

.light-title {
  color: gray;
  margin-bottom: 12px;
}

.card-num {
  display: flex;
  font-weight: bolder;
  font-size: x-large;
}

.drop-down {
  margin-left: 8px;
  margin-bottom: 2px;
  width: 10px;
  height: 10px;
}

.price-card {
  display: flex;
  margin-bottom: 12px;
}

.cent-card {
  margin-left: 5px;
}

.currency {
  color: gray;
}
